<%- layout("/layouts/boilerplate") %>
<body>
  <h3>All listings</h3>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings){ %>
      <a href="/listings/<%= listing._id %>" class = "listing-link">
    <div class="card col" ">
      <img src="<%= listing.image.filename %>" class="card-img-top" alt="listing_image" style = "height: 50rem"/>
      <div class="card-img-overlay">abcd</div>

      <div class="card-body">
        <p class="card-text">
          <%= listing.title %><br />
          <%= listing.price.toLocaleString("en-IN") %> /night
        </p>
      </div>
    </div>
    <% } %>
  </div>

  <!-- <% for (let listings of allListings) { %>
    <a href="/listings/<%= listings._id %>"> <%=listings.title%> </a>
    <br />
    <% } %>
  </body>
</html> -->
</body>
